/* Styles go here */

body {
  margin-left: 10px;
  background: gray;
}

h1{
	text-transform: uppercase;
	margin-left:35%;
	
}

.seasons_list{
	width: 30%;
	height: 100%;
	border: 2px solid black;
    font-family: 'Slabo 27px', serif;
    margin: 0 auto;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

.white{
	background-color: white;
	padding: 25px;
}

.brown{
	background-color:brown;
	padding: 25px;
}
.green{
	background-color:green;
	padding: 25px;
}
.orange{
	background-color: orange;
	padding: 25px;
}